/*colors*/
/*logo*/
/*img bg*/
/*icon nav*/
/*icon body*/
.header {
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
}

/* menu */
.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */
.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
  user-select: none;
  margin-left: 32%;
}

.header .menu-icon .navicon {
  background: #fff;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #fff;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */
.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 350px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */
@media (min-width: 48em) {
  .header li {
    float: left;
  }

  .header li a {
    padding: 20px 30px;
  }

  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }

  .header .menu-icon {
    display: none;
  }
}
/**************/
body {
  font-family: "Open Sans", sans-serif;
  color: white;
  background-color: black;
  scroll-behavior: smooth;
}

a {
  color: white;
  text-decoration: none;
  font-family: "Paytone One", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  transition: color 500ms;
}

a:hover {
  color: #969696;
}

p {
  font-size: 13px;
  line-height: 177%;
  color: white;
}

a img {
  margin-right: 5px;
  vertical-align: baseline;
}

.hero {
  margin: 150px auto 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 40%;
  text-align: center;
}

.banner {
  background-image: url(../resources/bg-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 90%;
  height: 700px;
  margin-top: 30px;
}

/* animacion scroll down*/
section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

.pelicula {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.informacion {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-transform: uppercase;
}

.informacion li {
  display: flex;
  align-items: center;
}

.informacion li img {
  margin-right: 10px;
}

.botonera {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.botonera__btn {
  padding: 10px;
  width: 48%;
  text-align: center;
  border: 1px solid;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 5%;
  color: white !important;
  background-color: #000;
}

.botonera__btn img {
  width: 15px;
}

.botonera__btn a {
  margin-left: 5px;
}

.botonera__btn--orange {
  border-color: #eb844d !important;
}

.botonera__btn--orange a:hover {
  color: #eb844d !important;
}

.botonera__btn--blue {
  border-color: #8dc0fc !important;
}

.botonera__btn--blue a:hover {
  color: #8dc0fc !important;
}

.botonera__btn--yellow {
  border-color: #ddc856 !important;
}

.botonera__btn--yellow a:hover {
  color: #ddc856 !important;
}

/**RESPONSIVE**/
@media only screen and (max-width: 600px) {
  .header {
    display: block;
  }

  header .logo {
    width: 40% !important;
    margin-left: 5%;
  }

  .header li a {
    padding: 5%;
  }

  .header li img {
    display: none;
  }

  section {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
  }

  .prometheus,
.martian {
    flex-direction: column-reverse;
  }

  section img {
    width: 100%;
  }

  .pelicula {
    width: 100%;
  }

  .informacion {
    display: flex;
    flex-direction: column;
  }

  .informacion img {
    width: 10%;
  }

  .banner {
    background-position-x: center;
    margin-top: 90px;
  }

  .hero {
    max-width: 100%;
    margin: 10% auto 0 auto;
  }

  .botonera {
    flex-direction: column-reverse;
  }

  .botonera__btn {
    width: 19rem;
    justify-content: center;
  }

  .modal-content {
    width: 22.4em !important;
  }

  .modal-body iframe {
    width: 22.4em !important;
  }

  footer {
    flex-direction: column !important;
    padding: 5% !important;
    align-items: center;
  }

  footer .logo {
    display: none;
  }

  footer .form {
    width: 100% !important;
    margin-top: 5% !important;
  }

  footer .ssmm {
    width: 100% !important;
    margin-top: 2% !important;
  }

  .hide {
    display: none !important;
  }

  .suscribe {
    display: block !important;
  }

  .item_2 {
    width: 100% !important;
  }
}
/**END RESPONSIVE**/
.scroll-down {
  height: 50px;
  width: 30px;
  border: 2px solid white;
  position: absolute;
  left: 50%;
  border-radius: 50px;
  cursor: pointer;
}

.scroll-down::before,
.scroll-down::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -100%) rotate(45deg);
  border: 2px solid white;
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite;
}

.scroll-down::before {
  top: 30%;
  animation-delay: 0.3s;
  /* animation: scroll-down 1s ease-in-out infinite; */
}

@keyframes scroll-down {
  0% {
    /* top:20%; */
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    top: 90%;
    opacity: 0;
  }
}
header {
  width: 100%;
  position: fixed;
  top: 0;
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 15px;
  background-color: #000000d1;
  border-bottom: solid #303030 1px;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 2500px;
  margin: 0 auto;
  padding-right: 0;
  padding-left: 0;
}

nav {
  display: flex;
  justify-content: right;
}

nav a {
  padding-left: 50px;
}

/* section {
  padding: 0 20%;
} */
h1 {
  font-family: "Paytone One", sans-serif;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  margin-bottom: 5%;
}

h2 {
  font-family: "Paytone One", sans-serif;
  font-size: 25px;
  line-height: 28px;
  text-align: left;
  text-transform: uppercase;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

hr {
  width: 100%;
}

h5 {
  color: #000;
  font-size: 13px;
  line-height: 177%;
  font-weight: normal;
  margin: inherit;
}

.title {
  padding-top: 10%;
}

.video {
  margin-top: 10%;
}

iframe {
  width: 40em;
  height: 30em;
}

.modal-content {
  margin-top: 2%;
  width: 40.2em;
  height: 34em;
}

.modal-body {
  padding: 0;
}

button .btn-close1 {
  background-color: black !important;
}

.btn-close1 {
  background-image: url(../resources/icon-close.svg) no-repeat;
  width: 25px;
  height: 25px;
  opacity: 1;
  margin-top: 2%;
  margin-left: 2%;
}

.bg {
  display: flex;
  flex-wrap: wrap;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
}

.astronaut {
  animation-name: float;
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
.interstellar {
  background-image: url(../resources/bg-interstellar.png);
}

.prometheus {
  background-image: url(../resources/bg-prometheus.png);
}

.martian {
  background-image: url(../resources/bg-martian.png);
}

.nolan {
  background-image: url(../resources/bg-nolan.png);
}

.scott {
  background-image: url(../resources/bg-scott.png);
}

.interstellar,
.prometheus,
.martian,
.nolan,
.scott {
  display: flex;
  justify-content: center;
}

.label {
  position: inherit;
  width: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
  color: black;
}

.label img {
  width: 25px;
  height: 25px;
  padding: 5px;
  background-repeat: no-repeat;
}

.label img .movie {
  background-image: url(../resources/icon-movie.svg);
}
.label img .time {
  background-image: url(../resources/icon-time.svg);
}

.naranjo {
  background-color: #eb844d;
}

.azul {
  background-color: #8dc0fc;
}

.amarillo {
  background-color: #ddc856;
}

.modal-content {
  background-color: black;
  border: 1px solid rgba(178, 178, 178, 0.2);
}

.suscribe {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 8%;
}

.item_1 {
  width: 33%;
}

.item_1 img {
  width: 100%;
}

.item_2 {
  width: 30%;
}

.item_3 {
  width: 33%;
}

.item_3 img {
  width: 50%;
}

footer {
  display: flex;
  padding: 2% 20%;
  border-top: solid 1px #414141;
  flex-direction: row;
  justify-content: space-between;
}

footer .botonera__btn,
.suscribe .botonera__btn {
  width: 100%;
}

footer .logo {
  width: 15%;
}

footer .form {
  width: 60%;
}

footer .ssmm {
  width: 10%;
  display: flex;
  flex-direction: row;
}

footer .ssmm img {
  margin: 10%;
}

/*# sourceMappingURL=estilos.css.map */
