/*colors*/
$orange: #eb844d;
$blue: #8dc0fc;
$yellow: #ddc856;
$light: white;
$dark: black;
$hover: #969696;
/*logo*/
$ignition: url(../resources/logo-ignition.svg);

/*img bg*/
$bgheader: url(../resources/bg-header.jpg);
$bginterstellar: url(../resources/bg-interstellar.png);
$bgmartian: url(../resources/bg-martian.png);
$bgprometheus: url(../resources/bg-prometheus.png);
$bgscott: url(../resources/bg-scott.png);
$bgnolan: url(../resources/bg-nolan.png);

/*icon nav*/
$film: url(../resources/icon-film.svg);
$director: url(../resources/icon-director.svg);
$mail: url(../resources/icon-mail.svg);

/*icon body*/
$movie: url(../resources/icon-movie.svg);
$time: url(../resources/icon-time.svg);
$trailer: url(../resources/icon-trailer.svg);
$close: url(../resources/icon-close.svg);

.header {
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header li a {
  display: block;
  padding: 20px 20px;

  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 350px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

/**************/
body {
  font-family: "Open Sans", sans-serif;
  color: $light;
  background-color: $dark;
  scroll-behavior: smooth;
}

a {
  color: $light;
  text-decoration: none;
  font-family: "Paytone One", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  transition: color 500ms;
}

a:hover {
  color: $hover;
}
p {
  font-size: 13px;
  line-height: 177%;
  color: $light;
}
a img {
  margin-right: 5px;
  vertical-align: baseline;
}
.hero {
  margin: 150px auto 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 40%;
  text-align: center;
}
.banner {
  background-image: $bgheader;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 90%;
  height: 600px;
  margin-top: 100px;
}

/* animacion scroll down*/
section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}
.pelicula {
  display: flex;
  flex-direction: column;
  width: 35%;
}
.informacion {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-transform: uppercase;
}

.informacion li {
  display: flex;
  align-items: center;
}

.informacion li img {
  margin-right: 10px;
}

.botonera {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.botonera__btn {
  padding: 10px;
  width: 13rem;
  text-align: center;
  border: 1px solid;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 5%;
  color: white !important;
  background-color: #000;
}
.botonera__btn img {
  width: 15px;
}
.botonera__btn a {
  margin-left: 5px;
}

.botonera__btn--orange {
  border-color: $orange !important;
}
.botonera__btn--orange a:hover {
  color: $orange !important;
}

.botonera__btn--blue {
  border-color: $blue !important;
}
.botonera__btn--blue a:hover {
  color: $blue !important;
}

.botonera__btn--yellow {
  border-color: $yellow !important;
}

.botonera__btn--yellow a:hover {
  color: $yellow !important;
}

/**RESPONSIVE**/
@media only screen and (max-width: 600px) {
  section {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
  }
  .prometheus,
  .martian {
    flex-direction: column-reverse;
  }
  section img {
    width: 100%;
  }
  .pelicula {
    width: 100%;
  }
  .informacion {
    display: flex;
    flex-direction: column;
  }
  .informacion img {
    width: 10%;
  }
  .banner {
    background-position-x: center;
  }
  .hero {
    max-width: 100%;
    margin: 10% auto 0 auto;
  }
  .botonera {
    flex-direction: column-reverse;
  }
  .botonera__btn {
    width: 100%;
    justify-content: center;
  }
}

.scroll-down {
  height: 50px;
  width: 30px;
  border: 2px solid white;
  position: absolute;
  left: 50%;
  border-radius: 50px;
  cursor: pointer;
}
.scroll-down::before,
.scroll-down::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -100%) rotate(45deg);
  border: 2px solid white;
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite;
}
.scroll-down::before {
  top: 30%;
  animation-delay: 0.3s;
  /* animation: scroll-down 1s ease-in-out infinite; */
}

@keyframes scroll-down {
  0% {
    /* top:20%; */
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    top: 90%;
    opacity: 0;
  }
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 15px;
  background-color: #000000d1;
  border-bottom: solid rgb(48, 48, 48) 1px;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 2500px;
  margin: 0 auto;
  padding-right: 0;
  padding-left: 0;
}

nav {
  display: flex;
  justify-content: right;
}

nav a {
  padding-left: 50px;
}
/* section {
  padding: 0 20%;
} */

h1 {
  font-family: "Paytone One", sans-serif;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: $light;
  margin-bottom: 5%;
}

h2 {
  font-family: "Paytone One", sans-serif;
  font-size: 25px;
  line-height: 28px;
  text-align: left;
  text-transform: uppercase;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

hr {
  width: 100%;
}

h5 {
  color: #000;
  font-size: 13px;
  line-height: 177%;
  font-weight: normal;
  margin: inherit;
}
.title {
  padding-top: 10%;
}

.video {
  margin-top: 10%;
}

iframe {
  width: 40em;
  height: 30em;
}
.modal-content {
  margin-top: 2%;
  width: 40.2em;
  height: 34em;
}
.modal-body {
  padding: 0;
}

.btn-close {
  background-image: $close no-repeat;
  width: 25px;
  height: 25px;
  opacity: 1;
  margin-top: 2%;
  margin-left: 2%;
}

.bg {
  display: flex;
  flex-wrap: wrap;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
}

.astronaut {
  animation-name: float;
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
.interstellar {
  background-image: $bginterstellar;
}

.prometheus {
  background-image: $bgprometheus;
}

.martian {
  background-image: $bgmartian;
}
.nolan {
  background-image: $bgnolan;
}
.scott {
  background-image: $bgscott;
}

.interstellar,
.prometheus,
.martian,
.nolan,
.scott {
  display: flex;
  justify-content: center;
}

.label {
  position: inherit;
  width: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
  color: black;
}
.label img {
  width: 25px;
  height: 25px;
  padding: 5px;
  background-repeat: no-repeat;
}

.label img {
  .movie {
    background-image: $movie;
  }
  .time {
    background-image: $time;
  }
}
.naranjo {
  background-color: $orange;
}
.azul {
  background-color: $blue;
}

.amarillo {
  background-color: $yellow;
}

.modal-content {
  background-color: black;
  border: 1px solid rgb(178 178 178 / 20%);
}

footer {
  display: flex;
  padding: 2% 20%;
  border-top: solid 1px #414141;
  flex-direction: row;
  justify-content: space-between;
}

footer .logo {
  width: 15%;
}

footer .form {
  width: 60%;
}

footer .ssmm {
  width: 10%;
  display: flex;
  flex-direction: row;
}
footer .ssmm img {
  margin: 10%;
}
